{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}This is my new project home page{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="{% static "css/styles.css" %}" type="text/css" media="screen">
        {% render_block "css" %}

        {% block head-extra %}{% endblock head-extra %}
    </head>

    {% block body-tag %}
    <body>
    {% endblock body-tag %}

        {% cms_toolbar %}
        <div class="container">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Project name</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% show_menu 0 1 100 100 "menu.html" %}
                    </ul>
                </div>
            </div>

            {% block content %}{% endblock content %}
            {% block main %}{% endblock main %}

        </div>
        <script src="{% static "js/app.js" %}"></script>
        {% render_block "js" %}
        {% block custom-js %}{% endblock custom-js %}
    </body>
</html>
