{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}This is my new project home page{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="{% static "css/styles.css" %}" type="text/css" media="screen">
        {% render_block "css" %}

        {% block head-extra %}{% endblock head-extra %}
    </head>

    {% block body-tag %}
    <body>
    {% endblock body-tag %}

        {% cms_toolbar %}
        {% show_menu 0 1 100 100 "menu/menu.html" %}

        <div class="container">
            {% block content %}{% endblock content %}
            {% block main %}{% endblock main %}
        </div>
        <script src="{% static "js/app.js" %}"></script>
        {% render_block "js" %}
        {% block custom-js %}{% endblock custom-js %}
    </body>
</html>
