{% extends "base.html" %}
{% load i18n thumbnail %}

{% block main %}
{% regroup gallery_list by category as category_list %}

{% for category in category_list %}
<h1>{{ category.grouper }}</h1>

    {% for gallery in category.list %}
        <div style="text-align:center;width:150px;">
            {% if gallery.get_folder_images.all %}
                <img src="{% thumbnail gallery.get_folder_images.all.0.file 150x150 crop upscale %}" alt="" />
            {% endif %}
            <h3><a href="{% url "image_gallery_detail" pk=gallery.pk %}">{{ gallery.title }}</a></h3>
            <span>{% if gallery.date %}{{ gallery.date|date }}, {% endif %}{{ gallery.location }}</span>
        </div>
    {% endfor %}

{% endfor %}

<pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre>

{% endblock %}
