{% extends "base.html" %}
{% load i18n thumbnail %}

{% block main %}
{% regroup gallery_list by category as category_list %}

<div class="container gallery-list">
    {% for category in category_list %}
    <div>
        <h1><strong>{{ category.grouper }}</strong></h1>

        {% for gallery in category.list|dictsort:"date" %}
        <div>
            <a href="{% url "image_gallery_detail" pk=gallery.pk %}">
                {% if gallery.get_folder_images.all %}
                <img src="{% thumbnail gallery.get_folder_images.all.0.file 200x200 crop upscale %}" alt="" />
                {% endif %}
                <span>{{ gallery.title }}</span>
            </a>
        </div>
        {% endfor %}

    </div>
    {% endfor %}
</div>

<!--<pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre>-->

{% endblock %}
