
.navbar
    margin-bottom: 0
    border: none

.navbar-inverse
    .navbar-brand
        height: $navbar-height
        padding: 0 15px
        transition: all 0.2s ease

        .navbar-logo
            vertical-align: bottom
            width: 60px
            height: $navbar-height
            display: inline-block
            position: relative

            > svg
                position: absolute
                top: 50%
                -webkit-transform: translateY(-50%)
                -ms-transform: translateY(-50%)
                transform: translateY(-50%)

        .navbar-brand-text
            line-height: $navbar-height
            font-weight: bold
            vertical-align: top

    .navbar-nav > li
        > a
            font-weight: 700
            text-transform: uppercase
            transition: all 0.2s ease

        > .dropdown-menu
            background: $navbar-inverse-link-hover-bg
            box-shadow: none
            border: none
            padding: 0

            a
                color: #fff
                font-weight: 700
                padding: 8px 20px
            a:hover
                color: #fff
                background: $navbar-inverse-bg

            .divider
                margin: 0
                background: darken($navbar-inverse-link-hover-bg, 3)

            i
                margin-right: 10px
                margin-left: -10px


    .navbar-nav > .active > a
        background: $navbar-inverse-bg

// Logo colors
.navbar-brand:hover
        .logo-hilt, .logo-details, .logo-body, .logo-blade, .logo-crown
        	fill: #FFFFFF
        	transition: all 0.2s ease

        .logo-eye
        	fill: $blue3
        	transition: all 0.2s ease

.navbar-brand
	.logo-body
		fill: $coa-black

	.logo-eye, .logo-details
		fill: $coa-red

	.logo-crown, .logo-hilt
		fill: $coa-gold

	.logo-blade
		fill: $coa-silver
