# dirs
assets/
node_modules/
venv/

# docker
.dockerignore
Dockerfile
docker-compose.yaml

# git
.git/
.gitignore
.gitmodules

# editors
.idea/

# documentation
README.md

# misc
Makefile
db.sqlite3
development.db.seed
webpack.config.js
package-lock.json
package.json
.travis.yml
.env
