[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "3.1.8"
django-cms = "*"
djangocms-file = "*"
djangocms-style = "*"
djangocms-column = "*"
gunicorn = "*"
psycopg2-binary = "*"
sqlparse = "*"
social-auth-app-django = "*"
python-jose = "*"
djangocms-blog = "*"
django-recaptcha = "*"

[dev-packages]
codacy-coverage = "*"
coverage = "*"
