[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "<3"
django-cms = "*"
django-registration = "<3"
djangocms-file = "*"
djangocms-style = "*"
aldryn-newsblog = "*"
djangocms-column = "*"
gunicorn = "*"
psycopg2-binary = "*"
sqlparse = "*"

[dev-packages]
codacy-coverage = "*"
coverage = "*"
