[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-cms = "*"
django-registration = "*"
djangocms-file = "*"
djangocms-style = "*"
aldryn-bootstrap3 = "*"
aldryn-newsblog = "*"
gunicorn = "*"
psycopg2 = "*"

[dev-packages]
codacy-coverage = "*"
coverage = "*"
