{% extends "base.html" %}
{% load cms_tags %}

{% block title %} – {% page_attribute "page_title" %}{% endblock title %}

{% block content %}
<div class="container">
    <h1>Tapahtumakalenteri</h1>

    <div id="calendar"></div>
</div>

<div class="container">
    <h1>Kokouskalenteri</h1>

    <div id="meetings"></div>
</div>

{% include "specific-pages/calendar-modal.html" %}

{% endblock content %}

{% block custom-js %}
<script type='text/javascript'>
    // Kalenterin asetukset tiedostossa assets/input/js/calendar.js
    $(document).ready(function() {
        $('#calendar').fullCalendar(new CalendarOptions(
            [
                {
                    googleCalendarId: 'tqbg6bgc6r00hbs4p3bt6h1p4g@group.calendar.google.com',
                    className: 'gcal-sports'
                },
                {
                    googleCalendarId: 'c3f5fekmh2qfloegr4okfghk5k@group.calendar.google.com',
                    className: 'gcal-service'
                },
                {
                    googleCalendarId: 'boecmjgkjsuibnnj2op4c94ags@group.calendar.google.com',
                    className: 'gcal-events'
                },
                {
                    googleCalendarId: 'r151te2dmi4sfp130iahaj2vro@group.calendar.google.com',
                    className: 'gcal-reserves'
                }
            ]
        ));

        $('#meetings').fullCalendar(new CalendarOptions(
            [
                {
                    googleCalendarId: 'aojklsb36n1vpmesl2tqv1gp6o@group.calendar.google.com',
                    className: 'gcal-meetings'
                }
            ]
        ));
    });
</script>
{% endblock custom-js %}
