{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% endblock title %}

{% block content %}

    {% if not user.is_authenticated or request.toolbar.build_mode or request.toolbar.edit_mode %}
        {% placeholder "guests" %}
    {% endif %}

    {% if user.is_authenticated %}
        {% placeholder "authenticated" %}
    {% endif %}

    {% placeholder "content" %}

    <div class="content-bg">
        <h1>Osakunnan viikko</h1>

        <div id="calendar"></div>

        <div class="row">
            <div class="col-md-4">
                <br><br>
                <p>
                    <a class="btn btn-primary btn-block" href="{% page_url "kalenteri" %}">
                        Tapahtumakalenteriin
                    </a>
                </p>
            </div>
        </div>

        {% include "specific-pages/calendar-modal.html" %}
    </div>
{% endblock content %}
