{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
{% if request.toolbar.build_mode or request.toolbar.edit_mode %}

    {% placeholder "guests" %}
    {% placeholder "authenticated" %}

{% else %}

    {% if not user.is_authenticated %}
        {% placeholder "guests" %}
    {% endif %}

    {% if user.is_authenticated %}
        {% placeholder "authenticated" %}
    {% endif %}

{% endif %}

    {% placeholder "content" %}

    <div class="gray1">
        <div class="container">
            <h1>Osakunnan viikko</h1>
            <div id="calendar"></div>
        </div>
    </div>
{% endblock content %}

{% block custom-js %}
<script type='text/javascript'>
$(document).ready(function() {
    $('#calendar').fullCalendar({
        googleCalendarApiKey: 'AIzaSyDrE8zbaHSOjVVcoOPe00n7pSEYLv_ZKQM',
        eventSources: [
            {
                googleCalendarId: 'tqbg6bgc6r00hbs4p3bt6h1p4g@group.calendar.google.com',
                className: 'gcal-sports'
            }, {
                googleCalendarId: 'c3f5fekmh2qfloegr4okfghk5k@group.calendar.google.com',
                className: 'gcal-service'
            }, {
                googleCalendarId: 'boecmjgkjsuibnnj2op4c94ags@group.calendar.google.com',
                className: 'gcal-events'
            }, {
                googleCalendarId: 'r151te2dmi4sfp130iahaj2vro@group.calendar.google.com',
                className: 'gcal-reserves'
            },
        ],
        firstDay: 1,
        defaultView: 'basicWeek',
        height: 'auto',
        header: {
            left:   '',
            center: '',
            right:  ''
        }
    });
});
</script>
{% endblock custom-js %}
