{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %} – {% if account %}{% trans "Activation complete" %}{% else %}{% trans "Activation problem" %}{% endif %}{% endblock %}
{% block content %}
<div class="container">
    {% url 'auth_login' as auth_login_url %}
    {% if account %}
    <p>Tervetuloa, {{ account }}!</p>
    <p>Voit nyt <a href='{{ auth_login_url }}'>kirjautua sisään</a> tunnuksillasi.</p>
    {% else %}
    <p>Virhe! Aktivointiavain oli virheellinen.</p>
    {% endif %}
</div>
{% endblock %}
