
.navbar
    margin-bottom: 0

.navbar-inverse
    .navbar-brand
        height: $navbar-height
        padding: 0 15px

        .navbar-logo
            background: url('../img/sato-logo.svg') center center no-repeat
            width: 80px
            height: $navbar-height
            display: inline-block

        .navbar-brand-text
            line-height: $navbar-height
            font-weight: bold
            vertical-align: top

    .navbar-nav > li
        > a
            font-weight: 700
            text-transform: uppercase

        > .dropdown-menu
            background: $blue2
            box-shadow: none
            border: none
            margin-top: 1px
            padding: 0

            a
                color: #fff
                font-weight: 700
                padding: 8px 20px
            a:hover
                color: #fff
                background: $blue3

    .navbar-nav  .open > a, .nav .open > a:hover, .nav .open > a:focus
        border-bottom: 1px solid $blue2
        margin-bottom: -1px

    .navbar-nav > .active > a
        background: $blue3
