.fc
    .fc-header-toolbar
        text-transform: capitalize

        .fc-button-primary
            background-color: $blue3
            border-radius: 2
            border: none

            &:hover:enabled
                background-color: $blue2

    .fc-col-header-cell-cushion, .fc-list-day-cushion a, .fc-daygrid-day-number
        color: #333333
        text-transform: uppercase

    .fc-event
        background: #DDD
        border-radius: 0
        border: none
        border-bottom: 4px solid
        padding: 8px 3px

        .fc-event-main
            color: #222
            font-size: 12px
            white-space: normal

            .fc-event-main-frame
                flex-direction: column

    .fc-list
        .fc-list-event-graphic
            display: none

        .fc-list-event-time
            font-weight: bold

        .fc-list-event
            background: #ffffff

    .gcal-sports
        border-color: #05AA00
    .gcal-events
        border-color: #003BAA
    .gcal-reserves
        border-color: #AA0000
    .gcal-service
        border-color: $yellow3
    .gcal-meetings
        border-color: #B307BF
