{% extends "palautteet.html" %}

{% block title %}
    Hallituspalaute
{% endblock %}

{% block header %}
    Postia SatOn hallitukselle
{% endblock %}

{% block help %}
    Voit lähettää viestin nimettömänä tai nimellisenä. Jos haluat vastauksen, jätä yhteystietosi.
    {% if user.is_authenticated %}
        Olet kirjautunut sisään. Avaa <a href="">tämä sivu</a> incognito/private-tilassa, jos haluat lähettää nimettömän
        viestin.
    {% else %}
        <a href="/login">Kirjaudu sisään</a>, jos haluat jättää kirjallisen aloitteen.
    {% endif %}
{% endblock %}

{% block thank_you_text %}
    Kiitos viestistäsi! Vastaamme siihen mahdollisimman pian, mikäli niin halusit.
{% endblock %}