{% load cms_tags menu_tags staticfiles sekizai_tags %}
<footer id="footer">
    <div class="container">
        {% if user.is_authenticated %}
        <div class="row row-bot">
            <div class="col-md-12">
                <h4>Jäsenille</h4>
                {% show_menu_below_id "jasenille" 0 100 100 100 "menu/menu_inline_list.html" %}
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-md-4">
                <div class="equalize-footer">
                    <h4><a href="/">Osakunta</a></h4>
                        {% show_menu_below_id "osakunta" 0 100 100 100 "menu/menu_paragraph.html" %}
                </div>
                <h4><a href="{% page_url "asuntola" %}">Asuntola</a></h4>
            </div>

            <div class="col-md-4">
                <div class="equalize-footer">
                    <h4>Seuraa meitä</h4>

                    <p>
                        <a href="https://www.facebook.com/osakunta/">
                            <span class="button"><i class="fa fa-lg fa-facebook"></i></span> Facebook
                        </a>
                    </p>

                    <p>
                        <a href="https://twitter.com/satolaiset">
                            <span class="button"><i class="fa fa-lg fa-twitter"></i></span> Twitter
                        </a>
                    </p>

                    <p>
                        <a href="https://www.instagram.com/satolaiset/">
                            <span class="button"><i class="fa fa-lg fa-instagram"></i></span> Instagram
                        </a>
                    </p>
                </div>
                <h4><a href="#">Liity meihin</a></h4>

            </div>

            <div class="col-md-4">
                <div class="equalize-footer">
                    {% static_placeholder 'footer-top-right' %}
                </div>
                <h4><a href="{% page_url "yhteystiedot" %}">Kaikki yhteystiedot</a>pull-right</h4>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="row text">
                <div class="col-sm-8">
                        <p>&copy; {% now "Y" %} Satakuntalainen Osakunta, kaikki oikeudet pidetään.</p>
                </div>
                <div class="col-sm-4 lg-right">
                        <p>Privacy policy | Terms of service</p>
                </div>
            </div>
        </div>
    </div>
</footer>
