{% load cms_tags i18n menu_tags cache %}

<div class="navbar navbar-inverse" id="header" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand" href="/" style="padding:15px;">
				{% include "svg/sato_logo.svg" %}
			</a>
		</div>

		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">

				{% for child in children %}
				{% if child.id != 25 or user.is_authenticated %}
				<li class="{% if child.ancestor %}ancestor{% endif %}
					{% if child.selected %} active{% endif %}
					{% if child.children %} dropdown{% endif %}">

					{% if child.children %}
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						{{ child.get_menu_title }} <span class="caret"></span>
					</a>

					<ul class="dropdown-menu">
						{% for child in child.children %}
						<li><a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a></li>
						{% endfor %}
					</ul>

					{% else %}
					<a href="{{ child.get_absolute_url }}"><span>{{ child.get_menu_title }}</span></a>
					{% endif %}
				</li>
				{% endif %}
				{% endfor %}

				{% if user.is_authenticated %}
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="fa fa-user" aria-hidden="true"></i>
						<span class="hidden-sm hidden-md"> {{ user.username }}</span>
						<span class="caret"></span>
					</a>

					<ul class="dropdown-menu">
						{% if request.user.is_staff %}
						<li><a href="/admin"><i class="fa fa-cog" aria-hidden="true"></i>Hallintapaneeli</a></li>
						<li><a href="?toolbar_off"><i class="fa fa-ban" aria-hidden="true"></i>Sulje työkalupalkki</a></li>
						{% endif %}
						<li><a href="/password_change"><i class="fa fa-refresh" aria-hidden="true"></i>Vaihda salasana</a></li>
						<li><a href="/logout"><i class="fa fa-times" aria-hidden="true"></i>Kirjaudu ulos</a></li>
					</ul>
				</li>
				{% else %}
				<li><a href="/login/auth0/">Kirjaudu sisään</a></li>
				{% endif %}

			</ul>
		</div>
	</div>
</div>
