{% load i18n thumbnail cms_tags %}
<div class="container gallery-list">
    <h1>{{ gallery.title }}{% if gallery.date %} <small>{{ gallery.date|date:"d.m.y" }}</small>{% endif %}</h1>
    <p>{% render_placeholder gallery.description "description" %}</p>
    <div>
        {% for image in gallery.get_folder_images %}
        <div>
            <a href="{{ image.file.url }}" data-lightbox="galleria">
                <img src="{% thumbnail image.file 200x200 crop upscale %}" alt="">
            </a>
        </div>
        {% endfor %}
    </div>
</div>
